@charset "UTF-8";
html, body {
  height: 100%;
  background: #EAEAEA;
  font-size: 20px; }

/**********************************图片轮播开始******************************/
.ban {
  width: 100%;
  height: auto;
  position: relative; }
  .ban img {
    width: 100%;
    height: auto; }

.ban-left {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid red;
  position: absolute;
  left: 0.75rem;
  top: 0.75rem; }
  .ban-left i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    color: #000;
    line-height: 1.5rem;
    margin-left: 0.35rem; }
@font-face {
  .ban-left {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
.ban-right {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid red;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem; }
  .ban-right i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    color: #000;
    line-height: 1.5rem;
    margin-left: 0.35rem; }
@font-face {
  .ban-right {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
.ban-down {
  width: 2.5rem;
  height: 1rem;
  border-radius: 0.4rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 1rem;
  font-size: 0.8rem;
  text-align: center; }

/**********************************图片轮播结束******************************/
/**********************************免邮费开始******************************/
.free {
  width: 100%;
  height: 8rem;
  background: #fff;
  overflow: hidden; }

.free-con {
  width: 95%;
  height: 7.5rem;
  margin: auto;
  margin-top: 0.25rem; }

.free-top {
  width: 100%;
  height: 2rem; }
  .free-top span {
    display: inline-block;
    color: #424242;
    font-size: 0.8rem; }

.free-cen {
  width: 100%;
  height: 2rem;
  margin-top: 0.25rem; }

.free-cen-left {
  width: auto;
  height: 2rem;
  float: left; }
  .free-cen-left span {
    font-size: 1.3rem;
    line-height: 2rem;
    float: left; }
  .free-cen-left i {
    font-size: 0.7rem;
    float: left; }
  .free-cen-left del {
    color: #727272;
    float: left;
    font-size: 0.6rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem; }
  .free-cen-left .spa1 {
    background: #FFE8EE;
    color: #FF2255;
    float: left;
    font-size: 0.6rem;
    margin-left: 0.25rem; }

.free-down {
  width: 100%;
  height: 1.25rem;
  margin-top: 0.25rem;
  color: #727272;
  font-size: 0.7rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #ccc; }

.free-last {
  width: 100%;
  height: 1.5rem;
  margin-top: 0.25rem; }

.free-last-left {
  width: 30%;
  height: 1.5rem;
  float: left;
  background: red; }
  .free-last-left i {
    font-family: 'iconfont';
    font-size: 0.7rem;
    float: left;
    line-height: 1.5rem; }
@font-face {
  .free-last-left {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .free-last-left .pan1 {
    color: #727272;
    font-size: 0.7rem;
    line-height: 1.5rem; }

.free-last-cen {
  width: 30%;
  height: 1.5rem;
  margin-left: 0.25rem;
  float: left;
  background: yellow; }
  .free-last-cen i {
    font-family: 'iconfont';
    font-size: 0.7rem;
    float: left;
    line-height: 1.5rem; }
@font-face {
  .free-last-cen {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .free-last-cen .pan2 {
    color: #727272;
    font-size: 0.7rem;
    line-height: 1.5rem; }

.free-last-right {
  width: 30%;
  height: 1.5rem;
  margin-left: 0.25rem;
  float: left;
  background: yellow; }
  .free-last-right i {
    font-family: 'iconfont';
    font-size: 0.7rem;
    float: left;
    line-height: 1.5rem; }
@font-face {
  .free-last-right {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .free-last-right .pan3 {
    color: #727272;
    font-size: 0.7rem;
    line-height: 1.5rem; }

.free-right-right {
  width: 6%;
  height: 1.5rem;
  float: right; }
  .free-right-right i {
    font-family: 'iconfont';
    font-size: 0.7rem;
    float: right;
    line-height: 1.5rem; }
@font-face {
  .free-right-right {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_qj3sr8bq64aq0k9.eot");
    src: url("//at.alicdn.com/t/font_501800_qj3sr8bq64aq0k9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_qj3sr8bq64aq0k9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_qj3sr8bq64aq0k9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_qj3sr8bq64aq0k9.svg#iconfont") format("svg"); } }
/**********************************免邮费结束******************************/
/**********************************优惠活动开始******************************/
.sale {
  width: 100%;
  height: 7.3rem;
  background: #fff;
  margin-top: 0.5rem;
  overflow: hidden; }

.sale-con {
  width: 95%;
  height: 6.5rem;
  margin: auto;
  margin-top: 0.4rem;
  border-bottom: 1px solid #ccc; }

.sale-con-top {
  width: 100%;
  height: 4.25rem;
  border-bottom: 1px solid #ccc; }

.sale-con-span {
  width: 100%;
  height: 1rem; }
  .sale-con-span span {
    width: 100%;
    height: 1rem;
    color: #727272;
    display: block;
    font-size: 0.7rem;
    line-height: 1rem; }

.sale-con-cen {
  width: 100%;
  height: 1.9rem;
  margin-top: 0.5rem; }

.back {
  width: 24%;
  height: 1.9rem;
  background: #FF5579;
  border-radius: 0.2rem;
  float: left; }
  .back i {
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    display: block; }
  .back span {
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    display: block; }

.backs {
  width: 24%;
  height: 1.9rem;
  background: #FF5579;
  border-radius: 0.2rem;
  float: left;
  margin-left: 1.4%; }
  .backs i {
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    display: block; }
  .backs span {
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    display: block; }

.backed {
  width: 24%;
  height: 1.9rem;
  background: #FF5579;
  border-radius: 0.2rem;
  float: right; }
  .backed i {
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    display: block; }
  .backed span {
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    display: block; }

.sale-con-down {
  width: 100%;
  height: 3rem; }

.sale-down-left {
  width: 70%;
  height: 3rem;
  float: left; }

.sale-left-con {
  width: 100%;
  height: 2rem;
  margin-top: 0.3rem; }

.sale-left-top {
  width: 100%;
  height: 1rem;
  margin-top: 0.3rem; }
  .sale-left-top .spa2 {
    width: 20%;
    height: 1rem;
    background: #F87119;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1rem;
    border-radius: 0.2rem; }
  .sale-left-top .spa3 {
    width: 80%;
    height: 1rem;
    color: #727272;
    font-size: 0.6rem;
    line-height: 1rem; }

.sale-left-tops {
  width: 100%;
  height: 1rem; }
  .sale-left-tops .spa2 {
    width: 20%;
    height: 1rem;
    background: #F87119;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1rem;
    border-radius: 0.2rem; }
  .sale-left-tops .spa3 {
    width: 80%;
    height: 1rem;
    color: #727272;
    font-size: 0.6rem;
    line-height: 1rem; }

.sale-down-right {
  width: 30%;
  height: 3rem;
  float: right; }
  .sale-down-right span {
    color: #727272;
    font-size: 0.8rem;
    line-height: 2.5rem;
    margin-left: 0.25rem; }
  .sale-down-right i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    line-height: 2.5rem; }
@font-face {
  .sale-down-right {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
/**********************************优惠活动结束******************************/
/**********************************请选择开始******************************/
.select {
  width: 100%;
  height: 2rem;
  background: #fff;
  margin-top: 0.5rem; }

.select-con {
  width: 95%;
  height: 2rem;
  margin: auto; }
  .select-con span {
    color: #727272;
    font-size: 0.8rem;
    line-height: 2rem;
    float: left; }
  .select-con i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    line-height: 2rem;
    float: right; }
@font-face {
  .select-con {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
/**********************************请选择结束******************************/
/**********************************评价开始******************************/
.com {
  width: 100%;
  height: 14.5rem;
  background: #fff;
  margin-top: 0.5rem;
  overflow: hidden; }

.com-con {
  width: 95%;
  height: 13rem;
  margin: auto; }

.com-con-con {
  width: 100%;
  height: 9.2rem;
  border-bottom: 1px solid #ccc; }

.com-con-top {
  width: 100%;
  height: 1rem; }
  .com-con-top span {
    display: block;
    line-height: 1rem;
    font-size: 0.7rem;
    color: #727272;
    float: left; }
  .com-con-top i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    line-height: 2rem;
    float: right;
    margin-top: -0.5rem; }
@font-face {
  .com-con-top {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
.com-con-cen {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.5rem; }
  .com-con-cen .spa4 {
    width: 30%;
    height: 1rem;
    display: block;
    border-radius: 0.2rem;
    background: #FFE8EE;
    color: #FF2255;
    font-size: 0.7rem;
    text-align: center;
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.2rem; }

.com-con-down {
  width: 100%;
  height: 3.5rem;
  margin-top: 0.5rem; }

.com-con-down-top {
  width: 100%;
  height: 1.5rem; }
  .com-con-down-top i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    line-height: 2rem;
    float: left;
    line-height: 1.5rem; }
@font-face {
  .com-con-down-top {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .com-con-down-top span {
    color: #727272;
    float: left;
    line-height: 1.5rem;
    font-size: 0.7rem; }

.com-con-down-cen {
  width: 100%;
  height: 1rem; }
  .com-con-down-cen span {
    color: #727272;
    float: left;
    line-height: 1rem;
    font-size: 0.7rem; }

.com-con-down-down {
  width: 100%;
  height: 1rem; }
  .com-con-down-down span {
    color: #727272;
    float: left;
    line-height: 1rem;
    font-size: 0.6rem; }

.com-con-last {
  width: 100%;
  height: 3.8rem;
  margin-top: 0.3rem; }

/**********************************评价结束******************************/
/**********************************进店开始******************************/
.shop {
  width: 100%;
  height: 6.8rem;
  background: #fff;
  margin-top: 0.5rem;
  overflow: hidden; }

.shop-con {
  width: 95%;
  height: 5.5rem;
  margin: auto;
  margin-top: 0.65rem; }

.shop-top {
  width: 100%;
  height: 2.25rem;
  overflow: hidden; }
  .shop-top img {
    width: 2.25rem;
    height: 2.25rem;
    float: left; }
  .shop-top b {
    display: block;
    color: #727272;
    font-size: 0.7rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem; }
  .shop-top i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin-left: 0.25rem; }
@font-face {
  .shop-top {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .shop-top span {
    width: 3rem;
    height: 1.5rem;
    float: right;
    display: block;
    color: #FF5777;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid #FF5777;
    border-radius: 0.1rem;
    margin-top: -0.75rem; }

.shop-down {
  height: 3.25rem;
  overflow: hidden; }

.shop-down-left {
  width: 33%;
  height: 3.25rem;
  border-right: 1px solid #ccc;
  overflow: hidden;
  float: left; }
  .shop-down-left span {
    display: block;
    color: #727272;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    text-align: center; }
  .shop-down-left em {
    color: #ccc;
    font-size: 0.7rem;
    text-align: center;
    display: block; }

.shop-down-lefts {
  width: 33%;
  height: 3.25rem;
  overflow: hidden;
  float: left; }
  .shop-down-lefts .spa5 {
    display: block;
    color: #727272;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    text-align: center; }
  .shop-down-lefts .spa6 {
    display: block;
    color: #727272;
    font-size: 0.7rem;
    margin-top: 0.15rem;
    text-align: center; }

/**********************************进店结束******************************/
/**********************************图文详情开始******************************/
.deta {
  width: 100%;
  height: 6.5rem;
  background: orange;
  margin-top: 0.5rem; }

.deta-top {
  width: 100%;
  height: 1.85rem;
  border-bottom: 1px solid #ccc; }

.deta-top-left {
  width: 33.3%;
  height: 1.85rem;
  color: #333;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.85rem;
  float: left; }

.deta-down {
  width: 100%;
  height: 4.25rem;
  overflow: hidden; }

.deta-down-con {
  width: 95%;
  height: 3.25rem;
  background: red;
  margin: auto;
  margin-top: 0.65rem;
  overflow: hidden; }
  .deta-down-con span {
    display: block;
    color: #333;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    float: left; }

/**********************************图文详情结束******************************/
/**********************************穿着效果开始******************************/
.effect {
  width: 100%;
  height: auto; }

.eff-top {
  width: 100%;
  height: 1.5rem;
  background: green; }

.eff-con {
  width: 95%;
  height: 1.5rem;
  margin: auto;
  background: #fff; }
  .eff-con span {
    color: #333;
    font-size: 0.7rem;
    line-height: 1.5rem;
    display: block; }

.eff-down {
  width: 100%;
  height: 24rem;
  background: red;
  margin-top: 0.15rem; }
  .eff-down img {
    width: 100%;
    height: 24rem; }

/**********************************穿着效果结束******************************/
/**********************************整体款式开始******************************/
.effect {
  width: 100%;
  height: auto; }

.eff-top {
  width: 100%;
  height: 1.5rem;
  background: green; }

.eff-con {
  width: 95%;
  height: 1.5rem;
  margin: auto;
  background: #fff; }
  .eff-con span {
    color: #333;
    font-size: 0.7rem;
    line-height: 1.5rem;
    display: block; }

.eff-downs {
  width: 100%;
  height: 16rem;
  background: red;
  margin-top: 0.15rem; }
  .eff-downs img {
    width: 100%;
    height: 16rem; }

/**********************************整体款式结束******************************/
/**********************************品牌介绍开始******************************/
.sug {
  width: 100%;
  height: auto;
  background: #fff; }

.sug-con {
  width: 95%;
  height: auto;
  margin: auto; }

.sug-con-top {
  width: 100%;
  height: 3.8rem;
  overflow: hidden; }
  .sug-con-top .spa7 {
    color: #000;
    float: left;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    float: left; }
  .sug-con-top .spa8 {
    color: #000;
    float: left;
    font-size: 0.7rem;
    float: left;
    line-height: 1rem; }

/**********************************品牌介绍结束******************************/
/**********************************价格说明开始******************************/
.rate {
  width: 100%;
  height: 5.5rem;
  background: #fff; }

.rate-con {
  width: 95%;
  height: 5.5rem;
  margin: auto; }

.rate-con-top {
  width: 95%;
  height: 4rem;
  margin: auto;
  border: 1px solid #ccc;
  border-top: 2px solid #ccc; }

.rate-top-left {
  width: 5%;
  height: 4rem;
  background: #FF5778;
  float: left; }

.rate-top-right {
  width: 92%;
  height: 4rem;
  background: #fff;
  float: right; }
  .rate-top-right .spa9 {
    color: #FF5778;
    font-size: 0.7rem;
    font-weight: bold;
    float: left; }
  .rate-top-right .spa10 {
    color: #333;
    font-size: 0.5rem;
    float: left;
    line-height: 0.75rem; }
  .rate-top-right .spa11 {
    color: #333;
    font-size: 0.5rem;
    float: left;
    line-height: 0.75rem; }
  .rate-top-right .spa12 {
    color: #333;
    font-size: 0.5rem;
    float: left;
    margin-top: 0.4rem; }

/**********************************价格说明结束******************************/
/**********************************尺码介绍开始******************************/
.tage {
  width: 100%;
  height: 20.4rem;
  background: #fff; }

.tage-con {
  width: 95%;
  height: 20.4rem;
  margin: auto; }

.tage-con-top {
  width: 100%;
  height: 4.1rem; }
  .tage-con-top .tage-con-top-top {
    height: 2rem;
    border-bottom: 1px solid #ccc; }
  .tage-con-top .tage-top-left {
    width: 25%;
    height: 2rem;
    float: left;
    color: #ccc;
    font-size: 0.7rem;
    line-height: 2rem; }

.tage-top-lefts {
  width: 25%;
  height: 2rem;
  float: left;
  color: #FF558C;
  font-size: 0.7rem;
  line-height: 2rem; }

/**********************************尺码介绍结束******************************/
/**********************************店主说开始******************************/
.tell {
  width: 100%;
  height: auto;
  background: #fff; }

.tell-con {
  width: 95%;
  height: auto;
  margin: auto;
  background: #fff; }

.tell-top {
  width: 95%;
  height: 5rem;
  overflow: hidden; }
  .tell-top .pan1 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: block;
    border: 1px solid #ccc;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
    line-height: 2.5rem;
    color: #000;
    font-size: 0.7rem;
    font-weight: bold; }
  .tell-top .pan2 {
    width: 3rem;
    height: 1rem;
    text-align: center;
    color: #000;
    font-size: 0.7rem;
    margin: auto;
    display: block;
    margin-top: 0.4rem; }

.tell-cen {
  width: 70%;
  height: 11.4rem;
  margin: auto; }
  .tell-cen img {
    width: 100%;
    height: 11.4rem; }

.tell-cens {
  width: 95%;
  height: 9.9rem;
  margin: auto;
  margin-top: 0.75rem; }

.tell-cens-left {
  width: 48%;
  height: 9.9rem;
  float: left;
  background: red; }
  .tell-cens-left img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 2.7rem; }

.tell-cens-right {
  width: 48%;
  height: 9.9rem;
  float: right;
  background: red; }
  .tell-cens-right img {
    width: 100%;
    margin: auto;
    display: block; }

.tell-cens-down {
  width: 95%;
  height: 11.4rem;
  margin: auto;
  margin-top: 0.75rem; }
  .tell-cens-down img {
    width: 100%;
    height: 11.4rem; }

/**********************************店主说结束******************************/
/******************************size-show开始******************************/
.show {
  width: 100%;
  height: auto;
  background: #fff; }

.show-con {
  width: 95%;
  height: auto;
  margin: auto; }

.show-top {
  width: 90%;
  height: 2rem;
  background: #fff;
  margin: auto;
  overflow: hidden; }
  .show-top .pan3 {
    color: #ccc;
    font-size: 0.7rem;
    text-align: center;
    display: block;
    margin-top: 0.25rem; }
  .show-top .pan4 {
    width: 100%;
    height: 0.25rem;
    font-size: 0.7rem;
    text-align: center;
    display: block;
    background: yellowgreen;
    margin-top: 0.7rem; }

.show-cen {
  width: 100%;
  height: 3rem;
  background: #fff;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc; }

.show-cen-top {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px dashed #ccc;
  color: #ccc;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.5rem; }

.show-cen-down {
  height: 2.5rem; }

.show-down-left {
  width: 40%;
  height: 2.5rem;
  float: left; }

.show-down-left-con {
  width: 100%;
  height: 0.5rem;
  margin-top: 0.1rem; }
  .show-down-left-con .pan5 {
    color: #666;
    font-size: 0.4rem;
    float: left;
    display: block;
    line-height: 0.5rem;
    margin-left: 0.25rem; }
  .show-down-left-con .pan6 {
    color: #666;
    font-size: 0.4rem;
    float: left;
    display: block;
    margin-left: 0.4rem;
    line-height: 0.5rem;
    margin-left: 0.25rem; }

.show-down-right {
  width: 60%;
  height: 2.5rem;
  float: right; }

.show-down-right-con {
  width: 100%;
  height: 0.5rem;
  background: #EFEFEF;
  margin-top: 0.4rem;
  border-radius: 0.1rem; }
  .show-down-right-con span {
    width: 20%;
    float: left;
    font-size: 0.4rem;
    display: block;
    text-align: center;
    line-height: 0.5rem; }

.show-down-right-cons {
  width: 100%;
  height: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 0.1rem; }
  .show-down-right-cons span {
    width: 20%;
    float: left;
    display: block;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.5rem;
    color: #ccc; }

.show-down-right-down {
  width: 100%;
  height: 0.5rem;
  margin-top: 0.35rem; }
  .show-down-right-down span {
    color: #ccc;
    font-size: 0.4rem;
    display: block; }

.can {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 0.5rem; }

.can-con {
  margin: auto;
  border: 1px solid red; }

.can-con-top {
  width: 100%;
  height: 1.5rem; }
  .can-con-top .pan7 {
    color: #ccc;
    font-size: 0.4rem;
    display: block; }
  .can-con-top .pan8 {
    color: #ccc;
    font-size: 0.4rem;
    display: block; }
  .can-con-top .pan9 {
    background: #393B44;
    width: 0.4rem;
    height: 0.25rem;
    display: block;
    float: left;
    margin: 0.15rem; }

.can-con-cen {
  width: 100%;
  margin: auto;
  overflow: hidden; }

.can-con-cen-con {
  width: 80%;
  height: 6.5rem;
  margin: auto;
  margin-top: 0.75rem; }

.can-con-cen-left {
  width: 45%;
  height: 5.5rem;
  float: left; }
  .can-con-cen-left img {
    width: 100%;
    height: 5.5rem; }
  .can-con-cen-left .pan10 {
    width: 2rem;
    background: #000;
    height: 0.5rem;
    color: #fff;
    margin: auto;
    text-align: center;
    line-height: 0.5rem;
    display: block;
    font-size: 0.4rem;
    margin-top: 0.15rem; }

.can-con-cen-right {
  width: 45%;
  height: 5.5rem;
  float: right; }
  .can-con-cen-right img {
    width: 100%;
    height: 5.5rem; }
  .can-con-cen-right .pan10 {
    width: 2rem;
    background: #000;
    height: 0.5rem;
    color: #fff;
    margin: auto;
    text-align: center;
    line-height: 0.5rem;
    display: block;
    font-size: 0.4rem;
    margin-top: 0.15rem; }

.can-con-down {
  width: 100%;
  height: 8.8rem;
  margin-top: 0.75rem; }

.can-con-down-con {
  width: 100%;
  height: 8.8rem;
  margin: auto;
  overflow: hidden; }
  .can-con-down-con span {
    color: #ccc;
    height: 0.5rem;
    display: block;
    font-size: 0.4rem;
    line-height: 0.5rem;
    background: #fff; }

.can-con-down-left {
  width: 45%;
  margin-top: 0.5rem;
  height: 8.8rem;
  float: left; }
  .can-con-down-left img {
    width: 100%;
    height: 7.8rem; }

.can-con-down-right {
  width: 45%;
  margin-top: 0.5rem;
  height: 8.8rem;
  float: right; }
  .can-con-down-right img {
    width: 100%;
    height: 7.8rem; }

/******************************size-show结束******************************/
/******************************新款包包开始******************************/
.new {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  background: #fff; }

.new-con {
  width: 95%;
  height: 9rem;
  margin-top: 1.5rem;
  background: #fff;
  margin: auto; }

.new-left {
  width: 33%;
  height: 9rem;
  float: left; }
  .new-left img {
    width: 100%;
    height: 7rem; }
  .new-left .pan12 {
    color: #3333;
    display: block;
    height: 0.75rem;
    font-size: 0.7rem; }
  .new-left .pan13 {
    color: #3333;
    display: block;
    float: left;
    height: 0.75rem;
    font-size: 0.6rem;
    margin-top: 0.2rem; }
  .new-left i {
    font-family: 'iconfont';
    font-size: 0.8rem;
    color: #000;
    float: left;
    line-height: 1rem;
    margin-left: 0.35rem; }
@font-face {
  .new-left {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot");
    src: url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_9dvri00eteghkt9.svg#iconfont") format("svg"); } }
  .new-left .pan14 {
    color: #3333;
    display: block;
    float: right;
    height: 0.75rem;
    font-size: 0.6rem;
    margin-top: 0.2rem; }

/******************************新款包包结束******************************/
/********************************底部开始********************/
.foot {
  width: 100%;
  height: 2.5rem; }

.foot-con {
  width: 100%;
  height: 2.5rem;
  background: #ffff;
  margin-top: 0.35rem;
  position: fixed;
  bottom: -0.25rem;
  left: 0; }

.foot-left {
  width: 25%;
  height: 2.5rem;
  float: left;
  background: #fff;
  margin-top: -0.1rem; }
  .foot-left i {
    font-family: 'iconfont';
    font-size: 1rem;
    margin-left: 40%;
    color: #000;
    display: block;
    margin-top: 0.15rem; }
@font-face {
  .foot-left {
    font-family: 'iconfont';
    /* project id 501800 */
    src: url("//at.alicdn.com/t/font_501800_u7q9r8e8ddqxs9k9.eot");
    src: url("//at.alicdn.com/t/font_501800_u7q9r8e8ddqxs9k9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_501800_u7q9r8e8ddqxs9k9.woff") format("woff"), url("//at.alicdn.com/t/font_501800_u7q9r8e8ddqxs9k9.ttf") format("truetype"), url("//at.alicdn.com/t/font_501800_u7q9r8e8ddqxs9k9.svg#iconfont") format("svg"); } }
  .foot-left span {
    color: #000;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    margin-top: 0.25rem; }

/********************************底部结束********************/

/*# sourceMappingURL=details.css.map */
