@charset "UTF-8";

html,body{
	height:100%;
	background:#FFFFFF;
	font-size:20px;
}

@function db($num){
    @return $num/20;
}
/******************************导航开始********************************/
.nav{
    width:100%;
    height:db(38rem);
    background:#FAFAFA;
    border-bottom:1px solid #C9C7C8;
}
.nav-left{
    width:10%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
}
.nav-cen{
    width:70%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
    float:left;
}
.nav-right{
    width:20%;
    height:db(38rem);
    float:right;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
}
/******************************导航结束*************************************/
/******************************蘑菇街账号开始********************************/
.start{
    width:auto;
    height:db(175rem);
    border-bottom:1px solid #ccc;
    margin-left:db(10rem);
    margin-right:db(10rem);
    overflow: hidden;
}
.start-top{
    width:100%;
    height:db(70rem);
    border-bottom:1px solid #ccc;
    margin-top:db(35rem);
    background:#fff;
    overflow: hidden;
    span{
        color:#666666;
        font-size:db(12rem);
        display: block;
        text-align: center;
        margin-top:db(10rem);
    }
    #inp1{
        width:100%;
        height:db(30rem);
        display: block;
        text-align: center;
        margin:auto;
        margin-top:db(15rem);
        font-size:db(20rem);
        color:#EDEDED;
        border:none;
        outline:none;
    }
}

.start-down{
    width:100%;
    height:db(70rem);
    border-bottom:1px solid #ccc;
    background:#fff;
    overflow: hidden;
    span{
        color:#666666;
        font-size:db(12rem);
        display: block;
        text-align: center;
        margin-top:db(10rem);
    }
    #inp2{
        width:80%;
        height:db(30rem);
        display: block;
        text-align: center;
        margin:auto;
        margin-top:db(10rem);
        font-size:db(20rem);
        color:#EDEDED;
        border:none;
        outline:none;
    }
}
/******************************蘑菇街账号结束********************************/
/******************************登录开始********************************/
.deng{
    width:auto;
    height:db(64rem);
    margin-left:db(10rem);
    margin-right:db(10rem);
    background:red;
    margin-top:db(20rem);
    border-radius: db(4rem);
    text-align: center;
    line-height:db(64rem);
    font-size:db(20rem);
    color:#fff;
    background:#FF1877;
}
/******************************登录结束********************************/
/******************************注册账号开始********************************/
.last{
    width:auto;
    height:db(20rem);
    margin-left:db(10rem);
    margin-right:db(10rem);
    margin-top:db(20rem);
    .free1{
        float:left;
        font-size:db(12rem);
        line-height:db(20rem);
        text-decoration: none;
        color:#999999;
    }
    .free2{
        float:right;
        font-size:db(12rem);
        line-height:db(20rem);
        text-decoration: none;
        color:#FF7BBF;
    }
}
/******************************注册账号结束********************************/