@charset "UTF-8";

html,body{
	height:100%;
	background:#FFFFFF;
	font-size:20px;
}

@function db($num){
    @return $num/20;
}
/******************************导航开始********************************/
.nav{
    width:100%;
    height:db(38rem);
    background:#FAFAFA;
    border-bottom:1px solid #C9C7C8;
}
.nav-left{
    width:10%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
}
@font-face {
      font-family: 'iconfont';  /* project id 501800 */
      src: url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.eot');
      src: url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.eot?#iefix') format('embedded-opentype'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.woff') format('woff'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.ttf') format('truetype'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.svg#iconfont') format('svg');
}
.nav-cen{
    width:70%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
    float:left;
}
/******************************导航结束*************************************/
/******************************蘑菇街账号开始********************************/
.start{
    width:auto;
    height:db(240rem);
    margin-left:db(10rem);
    margin-right:db(10rem);
}
.start-top{
    width:100%;
    height:db(160rem);
    border-bottom:1px solid #ccc;
    background:#fff;
    overflow: hidden;
     .pan1{
        color:#666666;
        font-size:db(12rem);
        display: block;
        text-align: center;
        margin-top:db(20rem);
    }
     .pan2{
        color:#000;
        font-size:db(16rem);
        display: block;
        text-align: center;
        margin-top:db(20rem);
    }
    em{
        color:#ccc;
        font-size:db(14rem);
    }
    i{
        font-family: 'iconfont';
        float:right;
        font-size:db(14rem);
        margin-top:db(-20rem);
    }
    @font-face {
      font-family: 'iconfont';  /* project id 501800 */
      src: url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.eot');
      src: url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.eot?#iefix') format('embedded-opentype'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.woff') format('woff'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.ttf') format('truetype'),
      url('//at.alicdn.com/t/font_501800_6sdg8db5xlx1dcxr.svg#iconfont') format('svg');
    }
    .pan3{
        color:#666666;
        font-size:db(12rem);
        display: block;
        text-align: center;
        margin-top:db(15rem);
    }
    #inp1{
        width:100%;
        height:db(30rem);
        display: block;
        text-align: center;
        margin:auto;
        margin-top:db(15rem);
        font-size:db(20rem);
        color:#EDEDED;
        border:none;
        outline:none;
    }
}
.start-down{
    width:80%;
    height:db(80rem);
    border-bottom:1px solid #ccc;
    background:#fff;
    overflow: hidden;
    .pan4{
        color:#666666;
        font-size:db(12rem);
        display: block;
        text-align:center;
        margin-top:db(15rem);
        margin-left:25%;
    }
    #inp2{
        width:70%;
        height:db(30rem);
        display: block;
        text-align:right;
        margin:auto;
        margin-top:db(10rem);
        font-size:db(20rem);
        color:#EDEDED;
        border:none;
        outline:none;
    }
}
.start-right{
    width:20%;
    height:db(20rem);
    float:right;
    span{
        color:#FF6885;
        font-size:db(12rem);
        display: block;
        text-align:center;
        margin-top:db(-15rem);
    }
}
/******************************蘑菇街账号结束********************************/
/******************************登录开始********************************/
.deng{
    width:auto;
    height:db(64rem);
    margin-left:db(10rem);
    margin-right:db(10rem);
    background:red;
    margin-top:db(20rem);
    border-radius: db(4rem);
    text-align: center;
    line-height:db(64rem);
    font-size:db(20rem);
    color:#fff;
    background:#FF1877;
}
/******************************登录结束********************************/
/******************************注册账号开始********************************/
.last{
    width:auto;
    height:db(20rem);
    margin-left:db(10rem);
    margin-right:db(10rem);
    margin-top:db(20rem);
    .free1{
        float:left;
        font-size:db(12rem);
        line-height:db(20rem);
        text-decoration: none;
        color:#FF7BBF;
    }
    .free2{
        float:right;
        font-size:db(12rem);
        line-height:db(20rem);
        text-decoration: none;
        color:#FF7BBF
    }
}
/******************************注册账号结束********************************/
/******************************图片********************************/
    .img{
    width: 32%;
    height: auto;
    margin: 50px auto 0 auto;
}
/******************************图片结束********************************/