@charset "UTF-8";
@charset "UTF-8";

html,body{
	height:100%;
	background:#F6F6F6;
	font-size:20px;
}
@function db($num){
    @return $num/20;
}
/******************************导航开始********************************/
.nav{
    width:100%;
    height:db(38rem);
    background:#FAFAFA;
    border-bottom:1px solid #C9C7C8;
}
.nav-left{
    width:10%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
}
.nav-cen{
    width:70%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
    float:left;
}
.nav-right{
    width:20%;
    height:db(38rem);
    float:left;
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
    color:#000;
    font-family: 'iconfont';
    font-size:db(14rem);
    text-align: center;
    line-height:db(38rem);
    float:right;
}
/******************************导航结束*************************************/
/******************************潮流店开始*************************************/
.fash{
    width:100%;
    height:db(140rem);
    margin-top:db(15rem);
    background:#fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.fash-top{
    width:100%;
    height:db(30rem);
    border-bottom:1px solid #ccc;
}
.fash-top-con{
    width:95%;
    height:db(30rem);
    margin:auto;
}
.fash-top-left{
    width:auto;
    height:db(30rem);
    float:left;
    img{
        width:db(20rem);
        height:db(20rem);
        margin-top:db(5rem); 
        float:left;
    }
    span{
        float:left;
        color:#ccc;
        font-size:db(14rem);
        line-height:db(30rem);
        margin-left:db(5rem);
    }
}
.fash-top-right{
    width:auto;
    height:db(30rem);
    float:right;
    span{
        float:left;
        color:#ccc;
        font-size:db(14rem);
        line-height:db(30rem);
        margin-left:db(5rem);
        font-family: 'iconfont';
        font-size:db(14rem);
        text-align: center;
        line-height:db(30rem);
        float:right;
        color:#000;
    }
}
.fash-down{
    width:100%;
    height:db(110rem);
    border-bottom:1px solid #ccc;
}
.fash-down-con{
    width:95%;
    height:db(110rem);
    margin:auto;
}
.fash-down-left{
    width:auto;
    height:db(110rem);
    overflow: hidden;
    float:left;
    .img1{
        width:db(20rem);
        height:db(20rem);
        margin-top:db(35rem); 
        float:left;
    }
    .img2{
        width:db(60rem);
        height:db(83rem);
        margin-top:db(13rem); 
        margin-left:db(15rem);
        margin-right:db(7rem); 
        float:left;
    }
}
.fash-down-left{
    width:auto;
    height:db(110rem);
    overflow: hidden;
    float:left;
    .pan1{
        color:#666;
        font-size:db(14rem);
        margin-top:db(13rem);
        display: block;
        line-height: db(15rem);
    }
    .pan2{
        color:#ccc;
        font-size:db(14rem);
        float:left;
    }
    .pan3{
        color:#000;
        font-size:db(12rem);
        float:left;
        margin-top:db(25rem);
        del{
            color:#ccc;
        }
    }
    .pan4{
        color:#ccc;
        font-size:db(14rem);
        float:right;
        margin-top:db(25rem);
    }
}
/******************************潮流店结束*************************************/
/******************************底部结算开始*********************************/
.last{
    width:100%;
    height:db(42rem);
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    bottom: 0;
    left:0;
    position: fixed;
    background:#fff;
}
.last-con{
    width:95%;
    height:db(42rem);
    margin:auto;
    .img1{
        width:db(20rem);
        height:db(20rem);
        margin-top:db(11rem); 
        float:left;
    }
     .img_all{
        width:db(20rem);
        height:db(20rem);
        margin-top:db(11rem); 
        float:left;
    }
    .pan5{
        color:#ccc;
        font-size:db(14rem);
        line-height:db(42rem);
        margin-left:db(5rem);
        float:left;
    }
    .pan6{
        color:#F04595;
        font-size:db(14rem);
        line-height:db(42rem);
        margin-left:db(5rem);
        float:left;
    }
    .pan7{
        width:db(84rem);
        height:db(30rem);
        color:#fff;
        border-radius: db(2rem);
        background:#FF5777;
        text-align: center;
        line-height:db(30rem);
        float:right;
        font-size:db(14rem);
        margin-top:db(6rem);
        margin-right:4%;
    }
}
/******************************底部结算结束*********************************/